<article *ngFor="let post of postsList" class="content-section">
    <div class="d-flex">
        <app-image *ngIf="isLoaded" [classSet]="'rounded-circle flex-shrink-0 article-img'"
            [key]="post.profile!.profilePicture!.key"></app-image>
        <div style="min-width: 0;">
            <div class="article-metadata">
                <a class="mr-2 profile-link" [routerLink]="['/profile', post.owner]"> {{ post.owner }}</a>
                <small class="text-muted">{{ post.createdAt | date:" d/M/Y " }}</small>
            </div>
            <h2><a class="article-title" [routerLink]="['/post/detail', post.id]">{{ post.title }}</a></h2>
            <p class="article-content-shortened">{{ post.content }}</p>
        </div>
    </div>
</article>