<nav class="navbar navbar-expand-sm navbar-dark bg-steel">
    <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['']">AmplyBlog</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="ms-auto">
                <div *ngIf="username; else elseBlock" class="navbar-nav">
                    <button class="btn btn-outline-light" [routerLink]="['/post/new']">New post</button>
                    <a class="nav-item nav-link" [routerLink]="['/profile', username]">{{ username }}</a>
                    <a class="nav-item nav-link" href="" (click)="logOut()">Logout</a>
                </div>
                <ng-template #elseBlock>
                    <div>
                        <button class="btn btn-outline-light me-1" (click)="openSignin()">LogIn</button>
                        <button class="btn btn-light ms-1" (click)="openSignup()">SignUp</button>
                    </div>
                </ng-template>
            </div>
        </div>

    </div>
</nav>