<article class="content-section">
    <div class="d-flex">
        <img class="rounded-circle flex-shrink-0 article-img" src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
        <div>
            <div class="article-metadata">
                <!-- <a class="mr-2" href="#">{{ post.owner }}</a> -->
                <!-- <small class="text-muted">{{ object.date_posted | date:" F d, Y " }}</small> -->
                <!-- {% if object.author == user %} -->
                <div>
                    <!-- <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{% url 'update-post' object.id %}">Update</a> -->
                    <button class="btn btn-danger btn-sm mt-1 mb-1" (click)="onDelete()">Delete</button>
                </div>
            </div>
            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.content }}</p>
        </div>
    </div>
</article>