<article class="content-section">
    <div class="d-flex">
        <img class="rounded-circle flex-shrink-0 article-img" src="{{ postProfile.profilePictureURL }}">
        <div style="min-width: 0;">
            <div class="article-metadata">
                <div>
                    <button *ngIf="isOwner" class="btn btn-secondary btn-sm mt-1 mb-1 ms-1 me-1"
                        [routerLink]="['/post/update', post.id]">Update</button>
                    <button *ngIf="isOwner" class="btn btn-danger btn-sm mt-1 mb-1 ms-1 me-1"
                        (click)="onDelete()">Delete</button>
                </div>
                <div>
                    <a class="mr-2 profile-link" [routerLink]="['/profile', post.owner]">{{ post.owner }}</a>
                    <small class="text-muted">{{ post.createdAt | date:"  d/M/Y " }}</small>
                </div>
            </div>
            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.content }}</p>
        </div>
    </div>
</article>

<h5 class="mb-3">Comments</h5>

<app-list-comment [comments]="postComments" ></app-list-comment>

<div *ngIf="usernameLogged">
    <app-form-comment [usernameLogged]="this.usernameLogged" [postID]="post.id"></app-form-comment>
</div>