<article class="content-section">
    <div class="d-flex">
        <img class="rounded-circle flex-shrink-0 article-img" src="{{ post.profile!.profilePictureURL}}">
        <div>
            <div class="article-metadata">
                <!-- <a class="mr-2" href="#">{{ post.owner }}</a> -->
                <!-- <small class="text-muted">{{ object.date_posted | date:" F d, Y " }}</small> -->
                <!-- {% if object.author == user %} -->
                <div>
                    <button *ngIf="isOwner" class="btn btn-secondary btn-sm mt-1 mb-1 ms-1 me-1"
                        [routerLink]="['/post/update', post.id]">Update</button>
                    <button *ngIf="isOwner" class="btn btn-danger btn-sm mt-1 mb-1 ms-1 me-1"
                        (click)="onDelete()">Delete</button>
                </div>
                <div>
                    <a class="mr-2 profile-link" [routerLink]="['/profile', post.owner]"> {{ post.owner }}</a>
                    <small class="text-muted">aca la fecha</small>
                </div>
            </div>
            <h2 class="article-title">{{ post.title }}</h2>
            <p class="article-content">{{ post.content }}</p>
        </div>
    </div>
</article>

<h5 class="mb-3">Comments</h5>

<app-list-comment [comments]="postComments" ></app-list-comment>

<div *ngIf="usernameLogged">
    <app-form-comment [usernameLogged]="this.usernameLogged" [postID]="post.id"></app-form-comment>
</div>