<article *ngFor="let comment of comments" class="content-section">
    <div class="d-flex">
        <app-image [key]="comment.profile!.profilePicture.key" [classSet]="'rounded-circle flex-shrink-0 article-img'" ></app-image>
        <div style="min-width: 0;">
            <div class="article-metadata">
                <a class="mr-2 profile-link" [routerLink]="['/profile', comment.owner]"> {{ comment.profile.username }}</a>
                <small class="text-muted">{{ comment.createdAt | date:" d/M/Y " }}</small>
            </div>
            <p class="article-content">{{ comment.content }}</p>
        </div>
    </div>
</article>