<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  

  <title> AmplyBlog </title>
</head>

<body>

  <header class="site-header">
    <app-navbar></app-navbar>
  </header>


  <main role="main" class="container">
    <div class="row">
      <div class="col-md-9">
        <router-outlet></router-outlet>
      </div>
    </div>
  </main>

  <footer class="footer"><app-footer></app-footer></footer>


  
</body>

</html>