<div class="content-section">
    <div class="d-flex">
        <img class="rounded-circle account-img"
            src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
        <!-- Donde rounded-circle es de bootstrap y account-img es personalizada(css) -->
        <div>
            <h2>{{ username }}</h2>
            <p class="text-secondary">{{ email }}</p>
        </div>
    </div>
    <div>
        <button class="btn btn-outline-info"> Update </button>
    </div>
    <hr>
    <div>
        <h3>User posts</h3>
        <app-list-post [usernameFilter]="usernameURL"></app-list-post>
    </div>
</div>